# Data Wrangling Notebook

This notebook is for combining and cleaning datasets for crime statistics from https://www.ojjdp.gov/ojstatbb/crime/ucr_trend.asp?table_in=2 into a data frame for crime by type with related demographic data. Released onNovember 16, 2020

Some datasets are for arrest rates per 100,000 population units. Others are counts:
* _rates = per 100,000 population units os specific crime types
* _ucr = total violent crimes for demographic attribures

In [8]:
import numpy as np
import pandas as pd
import glob

In [9]:
#Load all files into one dataframe.
files = !ls *1.csv # IPython magic
d = pd.concat([pd.read_csv(f, index_col=None, skiprows=1, header=1, nrows=40) for f in files], axis=0, keys=files)
d

                              Years  All races  White  Black American Indian  \
DUI_rates.1.csv           0    1980      627.9  636.4  600.6        1,206.20
                          1    1981      667.4  682.9  605.3        1,122.50
                          2    1982      767.7  788.7  685.3        1,211.00
                          3    1983      821.7  851.9  701.4        1,159.30
                          4    1984      754.5  785.8    625        1,011.80
...                             ...        ...    ...    ...             ...
weapons_crimes_rate.1.csv 35   2015       45.3   33.4  129.8            31.6
                          36   2016       48.5   34.7  144.8              31
                          37   2017       50.8   35.0  158.2            37.3
                          38   2018       51.5   36.0  157.9            30.8
                          39   2019       46.7   33.4  137.5            33.2

                              Asian    Crime crime
DUI_rates.1.csv           0   167.3      DUI   NaN
                          1   184.2      DUI   NaN
                          2   204.4      DUI   NaN
                          3   170.3      DUI   NaN
                          4   173.4      DUI   NaN
...                             ...      ...   ...
weapons_crimes_rate.1.csv 35    9.7  weapons   NaN
                          36   10.5  weapons   NaN
                          37   10.6  weapons   NaN
                          38   11.0  weapons   NaN
                          39   10.9  weapons   NaN

[400 rows x 8 columns]

In [10]:
#Cleanup 'Crime' column.
d.Crime.fillna(d.crime, inplace=True)
del d['crime']
d

                              Years  All races  White  Black American Indian  \
DUI_rates.1.csv           0    1980      627.9  636.4  600.6        1,206.20
                          1    1981      667.4  682.9  605.3        1,122.50
                          2    1982      767.7  788.7  685.3        1,211.00
                          3    1983      821.7  851.9  701.4        1,159.30
                          4    1984      754.5  785.8    625        1,011.80
...                             ...        ...    ...    ...             ...
weapons_crimes_rate.1.csv 35   2015       45.3   33.4  129.8            31.6
                          36   2016       48.5   34.7  144.8              31
                          37   2017       50.8   35.0  158.2            37.3
                          38   2018       51.5   36.0  157.9            30.8
                          39   2019       46.7   33.4  137.5            33.2

                              Asian    Crime
DUI_rates.1.csv           0   167.3      DUI
                          1   184.2      DUI
                          2   204.4      DUI
                          3   170.3      DUI
                          4   173.4      DUI
...                             ...      ...
weapons_crimes_rate.1.csv 35    9.7  weapons
                          36   10.5  weapons
                          37   10.6  weapons
                          38   11.0  weapons
                          39   10.9  weapons

[400 rows x 7 columns]

In [11]:
d.replace(',','', regex=True, inplace=True)

In [12]:
d.to_csv(r'crime_rates_by_type.csv', index = False)